<hr/>
<footer>
  <section class="ibm-plex-sans-light">
    <ul class="social-icons">
      <li><a href="https://www.instagram.com/lesis.lat/" target="_blank" rel="noopener noreferrer" aria-label="LESIS on Instagram">{% include icon.html name="instagram" %}</a></li>
      <li><a href="https://x.com/lesis_lat" target="_blank" rel="noopener noreferrer" aria-label="LESIS on Twitter">{% include icon.html name="twitter" %}</a></li>
      <li><a href="https://github.com/lesis-lat" target="_blank" rel="noopener noreferrer" aria-label="LESIS on GitHub">{% include icon.html name="github" %}</a></li>
      <li><a href="https://www.linkedin.com/company/lesis-lat/" target="_blank" rel="noopener noreferrer" aria-label="LESIS on LinkedIn">{% include icon.html name="linkedin" %}</a></li>
    </ul>
  </section>
  <div class="ibm-plex-sans-light footer-link">
    <p><a href="mailto:contact@lesis.lat">contact@lesis.lat</a> - <a href="mailto:security@lesis.lat">security@lesis.lat</a> - www.lesis.lat</p>
    <p>São Paulo | Buenos Aires | Lisbon</p>
    <p>Laboratory of Engineering Studies in Information Security | 2023 - 2026</p>
    <p><a href="{{ '/press.html' | relative_url }}">Press Kit</a> | <a href="{{ '/partnership/' | relative_url }}">Partnership</a> | <a href="{{ '/newsletter/' | relative_url }}">Newsletter</a> | <a href="{{ '/privacy-policy.html' | relative_url }}">Privacy Policy</a> | <a href="{{ '/terms-of-use.html' | relative_url }}">Terms of Use</a> | <a href="https://trainings.lesis.lat/">Trainings</a></p>
  </div>
</footer>
