<nav class="top-menu">
  <ul>
    <li><a href="{{ '/' | relative_url }}" class="ibm-plex-sans-regular{% if page.url == '/' %} active{% endif %}">Home</a></li>
    <li><a href="{{ '/team.html' | relative_url }}" class="ibm-plex-sans-regular{% if page.url == '/team.html' %} active{% endif %}">Team</a></li>
    <li><a href="{{ '/blog.html' | relative_url }}" class="ibm-plex-sans-regular{% if page.url == '/blog.html' %} active{% endif %}">Blog</a></li>
    <li><a href="https://platform.lesis.lat/app/login" target="_blank" rel="noopener noreferrer" class="ibm-plex-sans-regular">Platform</a></li>
  </ul>
</nav>
