<nav class="top-menu">
  <ul>
    <li><a href="index.html" class="ibm-plex-sans-regular{% if page.url == '/' %} active{% endif %}">Home</a></li>
    <li><a href="team.html" class="ibm-plex-sans-regular{% if page.url == '/team.html' %} active{% endif %}">Team</a></li>
    <li><a href="blog.html" class="ibm-plex-sans-regular{% if page.url == '/blog.html' %} active{% endif %}">Blog</a></li>
    <li><a href="https://platform.lesis.lat/app/login" class="ibm-plex-sans-regular">Platform</a></li>
  </ul>
</nav>
